@model Ares_ASP.NET_MVC.Interface.IFirm

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

<h2>Vyhledávání firem v ARES dle IČO. </h2>   

<div class="jumbotron">

    @Html.AntiForgeryToken()

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ICO)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ICO)
            @Html.ValidationMessageFor(model => model.ICO)
        </div>

        <br />

        <p>
            <input type="submit" value="Vyhledat" />
        </p>
    </div>

    <div>

        @if (Model?.Name != null)
        {
        <p>Název firmy: @Model.Name</p>
            <br />
        }

        @if (Model?.ICO != null)
        {
            <p>IČO: @Model.ICO</p>
            <br />
        }

        @if (Model?.Zprava != null)
        {
            <p>Chyba: @Model.Zprava</p>
            <br />
        }

    </div>

    <div>
        <button type="button" onclick="location.href='@Url.Action("Index", "FirmList")'">Seznam firem</button>
    </div>

</div>
}